<p id="notice"><%= notice %></p>

<div class="container">

  <div class="input-group">
	<%= form_tag articles_path, :method => 'get' do %>
		<%= text_field_tag :search, params[:search], placeholder: 'Search Articles' %>
		<%= submit_tag 'Search', :name => nil %>
	<% end %>
  </div>

  <h1>Duyen's Blog</h1>
  <h3>My first Rails Application for CoderSchool!</h3>

  <%= render @articles %>

  <br>

  <%= link_to 'New Article', new_article_path %>
</div>